/* --------------------------- *\
			FOOTER
\* --------------------------- */

footer {
    grid-column: 2 span;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    .footer-text {
        font-size: 11.2px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.6);

        margin: 0;
        margin-bottom: 0.5em;
        position: relative;
        z-index: 200;
    }
    .footer-text.invisible {
        opacity: 0;
    }

    .footer-icon {
        width: 20px;
        position: relative;
        z-index: 200;
    }