/* --------------------------- *\
			GENERALES
\* --------------------------- */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,500,600,700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

body {
    height: 100vh; /* */
    width: 100vw;
}

section {
    height: inherit;
    width: inherit;
    max-width: 1800px;
    margin: 0 auto;

    padding: 1.88rem;
    box-sizing: border-box;
    position: relative;

    display: none;
    grid-template: auto 1fr auto / 1fr auto;
}
section.active {
    display: grid;
}

.section-color {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    animation: opacidad 2s forwards;
}

.section-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: movimiento 800ms forwards;
}

#culture .section-color {
    background-color: var(--color-section-culture);
}
#track_planner .section-color {
    background-color: var(--color-section-track-planner);
}
#spin_trowel .section-color {
    background-color: var(--color-section-spin-trowel);
}
#oiz_it .section-color {
    background-color: var(--color-section-oiz-it);
}
#onda .section-color {
    background-color: var(--color-section-onda);
}
#xabidb .section-color {
    background-color: var(--color-section-xabidb);
}

#culture .section-image {
    background-image: var(--image-section-culture);
}
#track_planner .section-image {
    background-image: var(--image-section-track-planner);
}
#spin_trowel .section-image {
    background-image: var(--image-section-spin-trowel);
}
#oiz_it .section-image {
    background-image: var(--image-section-oiz-it);
}
#onda .section-image {
    background-image: var(--image-section-onda);
}
#xabidb .section-image {
    background-image: var(--image-section-xabidb);
    animation: movimiento2 800ms forwards;
}

/* ------- ANIMACIONES ------- */

@keyframes opacidad {
    0% {
        opacity: 0.7;
    }
}

@keyframes movimiento {
    from {
        opacity: 0;
        background-position-y: 40%;
    }
    to {
        opacity: 1;
        background-position-y: center;
    }
}

@keyframes movimiento2 {
    from {
        opacity: 0;
        background-position-y: 90%;
    }
    to {
        opacity: 1;
        background-position-y: bottom;
    }
}