/* --------------------------- *\
			HEADER
\* --------------------------- */

.section-header {
    grid-column: 2 span;

    display: flex;
    justify-content: space-between;

    position: relative;
    z-index: 300;
}

    .section-header-logo {
        width: 60px;
        vertical-align: top;
    }
    
    .section-header-menu {
        display: none;
    }