@media (max-width: 1024px) {
    /* --- GENERALES --- */
    html {
        font-size: 13px;
    }
    
    /* ----- HERO ------ */
    .section-hero-title {
        transform: scaleY(1.33);
        padding: 0.15em 0;
    }
    #track_planner .section-hero-title {
        padding: 0.15em 0;
    }
}
@media (max-width: 962px) {
    #track_planner .section-hero-title {
        padding: 0.30em 0;
    }
}
@media (max-width: 833px) {
    #spin_trowel .section-hero-title {
        padding: 0.30em 0;
        z-index: 200;
    }
}

@media (max-width: 768px) {
    /* --- GENERALES --- */
    html {
        font-size: 10px;
    }

    .section-header-logo {
        width: 52px;
    }

    /* ----- HERO ------ */
    .section-hero {
        padding-top: 3.5rem;
    }
    
        .section-hero-title {
            transform: scaleY(1.1);
            padding: 0.12em 0;
        }
        #track_planner .section-hero-title {
            padding: 0.12em 0;
        }
        #spin_trowel .section-hero-title {
            padding: 0.12em 0;
        }

    /* ---- FOOTER ----- */
    .section-footer-text {
        font-size: 9.6px;
    }

    .section-footer-icon {
        width: 17.4px;
    }
}
@media (max-width: 580px) {
    .section-hero {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media (max-width: 425px) {
    /* --- GENERALES --- */
    html {
        font-size: 8px;
    }

    #culture .section-image {
        background-image: var(--image-section-culture-mobile);
    }
    #track_planner .section-image {
        background-image: var(--image-section-track-planner-mobile);
    }
    #spin_trowel .section-image {
        background-image: var(--image-section-spin-trowel-mobile);
        background-position-y: bottom;
        animation: movimiento2 800ms;
    }
    #oiz_it .section-image {
        background-image: var(--image-section-oiz-it-mobile);
    }
    #onda .section-image {
        background-image: var(--image-section-onda-mobile);
    }
    #xavidb .section-image {
        background-image: var(--image-section-xabidb-mobile);
    }

    /* ---- HEADER ----- */
    .section-header-menu {
        display: block;
        height: 30px;

        align-self: center;
    }

    /* ----- HERO ------ */
    .section-hero {
        padding: 5rem 1.8rem 0;
    }

        .section-hero-title {
            font-size: 7em;
            transform: scaleY(1.4);

            padding-top: 0.5em;
            padding-bottom: 0.25em;
        }
        #track_planner .section-hero-title,
        #spin_trowel .section-hero-title {
            padding-top: 0.72em;
            padding-bottom: 0.45em;
        }

        .section-hero-link {
            font-size: 1.6em;
        }

    /* ---- NAVBAR ----- */
    .section-navbar-item {
        margin: 10px 0;
    }

        .section-item-icon {
            width: 10px;
        }
}