/* --------------------------- *\
			NAVBAR
\* --------------------------- */

.section-navbar {
    align-self: center;
}

    .section-navbar-item {
        margin: 12px 0;

        display: flex;
        justify-content: center;

        position: relative;
        z-index: 200;
    }

        .section-item-icon {
            width: 12px;
            opacity: 0.6;
            transition: 200ms;
        }
        .section-item-icon:hover {
            opacity: 0.8;
        }
        .section-navbar-item.active .section-item-icon {
            opacity: 1;
            transform: scale(1.25) rotate(45deg);
        }