:root {
  /* -- Colores  -- */
  --color-black: #000000;
  --color-gray: #E0E0E0;
  --color-white: #FFFFFF;

  --color-section-culture: #04c493;
  --color-section-spin-trowel: #c4c4c4;
  --color-section-orbea-oiz: #1a1a1b;
  --color-section-onda-bench: #eaa54e;
  --color-section-xabidb: #fff;
}