@import './general/layout.css';

/* --------------------------------- */
/* ------------ CAROUSEL ----------- */
/* --------------------------------- */

.carousel {
  height: inherit;
  width: inherit;
}

  .carousel-item {
    display: none;
    height: inherit;
    width: inherit;
  }
  .carousel-item.active {
    display: initial;
  }

/* --------------------------------- */
/* -------------- HERO ------------- */
/* --------------------------------- */

    .hero {
      height: inherit;
      width: inherit;
      margin: 0 auto;
      padding: 2rem;
      box-sizing: border-box;
      position: relative;
      display: grid;
      grid-template: auto 1fr auto / 1fr auto;
    }
    #culture.hero {
      background-color: var(--color-section-culture);
    }
    #spin_trowel.hero {
      background-color: var(--color-section-spin-trowel);
    }
    #orbea_oiz.hero {
      background-color: var(--color-section-orbea-oiz);
    }
    #onda_bench.hero {
      background-color: var(--color-section-onda-bench);
    }
    #xabidb.hero {
      background-color: var(--color-section-xabidb);
    }

      /* -- Background Image -- */
      .hero-image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 300;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
      }
      #culture .hero-image {
        background-image: var(--image-section-culture);
      }
      #spin_trowel .hero-image {
        background-image: var(--image-section-spin-trowel);
      }
      #orbea_oiz .hero-image {
        background-image: var(--image-section-oiz-it);
      }
      #onda_bench .hero-image {
        background-image: var(--image-section-onda);
      }
      #xabidb .hero-image {
        background-image: var(--image-section-xabidb);
      }

      /* -- Header -- */
      .hero-header {
        grid-column: 2 span;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 300;
      }
      
        .hero-header-logo {
          width: 45px;
          vertical-align: top;
        }
        
        .hero-header-menu {
          width: 45px;
          vertical-align: top;
          cursor: pointer;
          transition: 200ms;
        }
        .hero-header-menu:hover {
          transform: scale(0.9)
        }

      /* -- Content -- */
      .hero-content {
        padding-top: 4em;
        overflow: hidden;
      }

        .hero-content-image,
        .hero-content-image-second {
          margin-bottom: 1em;
          width: auto;
          z-index: 200;
        }

        .hero-content-link {
          margin-top: 2em;
          color: white;
          font-size: 1.2em;
          font-weight: 100;
          text-decoration: none;
          position: relative;
          z-index: 400;
        }

        #xabidb .hero-content-link {
          color: #333333;
        }

      /* -- Sidebar -- */
      .hero-sidebar {
        align-self: center;
      }
      
        .hero-sidebar-item {
          margin: 18px 0;
          display: flex;
          justify-content: flex-end;
          position: relative;
          z-index: 400;
        }
      
          .hero-item-icon {
            width: 1em;
            opacity: 0.6;
            transition: 200ms;
          }
          .hero-item-icon:hover {
            opacity: 0.8;
          }
          .hero-sidebar-item.active .hero-item-icon {
            opacity: 1;
            transform: scale(1.25) rotate(45deg);
          }

      /* -- Footer -- */
      .hero-footer {
        grid-column: 2 span;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
      }

        .hero-footer-icon {
          grid-column: 2;
          justify-self: center;
          width: 10px;
          z-index: 400;
          cursor: pointer;
        }

        .hero-footer-link {
          grid-column: 3;
          justify-self: flex-end;
          color: white;
          font-size: 1.2em;
          font-weight: 100;
          z-index: 400;
          cursor: pointer;
        }
        #xabidb .hero-footer-link {
          color: #333333;
        }

/* --------------------------------- */
/* --------- MEDIA QUERIES --------- */
/* --------------------------------- */

@media (min-width: 600px){
  /* -- HERO -- */
  /* -- Background Image -- */
  #culture .hero-image {
    background-image: var(--image-section-culture-600);
  }
  #spin_trowel .hero-image {
    background-image: var(--image-section-spin-trowel-600);
  }
  #orbea_oiz .hero-image {
    background-image: var(--image-section-orbea-oiz-600);
  }
  #onda_bench .hero-image {
    background-image: var(--image-section-onda-bench-600);
  }

  /* -- Header -- */
  .hero-header-logo {
    width: 45px;
  }

  .hero-header-menu {
    width: 45px;
  }

  /* -- Content -- */
  .hero-content {
    padding-top: 8em;
  }

    .hero-content-link {
      font-size: 1.4em;
    }

  /* -- Sidebar -- */
  .hero-item-icon {
    width: 1.2em;
  }

  /* -- Footer -- */
  .hero-footer-icon {
    width: 12.5px;
  }

  .hero-footer-link {
    font-size: 1.2em;
  }
}

@media (min-width: 801px) and (orientation: portrait){
  /* -- HERO -- */
  .hero {
    padding: 3rem;
  }

    /* -- Background Image -- */
    #culture .hero-image {
      background-image: var(--image-section-culture-801p);
    }
    #spin_trowel .hero-image {
      background-image: var(--image-section-spin-trowel-801p);
    }
    #orbea_oiz .hero-image {
      background-image: var(--image-section-orbea-oiz-801p);
    }
    #onda_bench .hero-image {
      background-image: var(--image-section-onda-bench-801p);
    }

    /* -- Header -- */
    .hero-header-logo {
      width: 45px;
    }

    .hero-header-menu {
      width: 45px;
    }

    /* -- Content -- */
    .hero-content {
      padding-top: 10em;
    }

      .hero-content-link {
        font-size: 1.4em;
      }

    /* -- Sidebar -- */
    .hero-item-icon {
      width: 1.2em;
    }

    /* -- Footer -- */
    .hero-footer-icon {
      width: 12.5px;
    }

    .hero-footer-link {
      font-size: 1.2em;
    }

}

@media (min-width: 801px) and (orientation: landscape){
  /* -- HERO -- */
  .hero {
    padding: 3rem;
  }

    /* -- Background Image -- */
    #culture .hero-image {
      background-image: var(--image-section-culture-801);
    }
    #spin_trowel .hero-image {
      background-image: var(--image-section-spin-trowel-801);
    }
    #orbea_oiz .hero-image {
      background-image: var(--image-section-orbea-oiz-801);
    }
    #onda_bench .hero-image {
      background-image: var(--image-section-onda-bench-801);
    }

    /* -- Header -- */
    .hero-header-logo {
      width: 45px;
    }

    .hero-header-menu {
      width: 45px;
    }

    /* -- Content -- */
    .hero-content {
      padding-top: 6em;
    }

      .hero-content-image {
        margin-bottom: 1em;
        height: 12em;
      }
      #spin_trowel .hero-content-image {
        content: url(../svg/spin_trowel.svg);
      }
      #orbea_oiz .hero-content-image {
        content: url(../svg/orbea_oiz.svg);
      }
      #onda_bench .hero-content-image {
        content: url(../svg/onda_bench.svg);
      }

      .hero-content-image-second {
        margin-bottom: 1em;
        width: 75%;
      }
      #spin_trowel .hero-content-image-second,
      #orbea_oiz .hero-content-image-second,
      #onda_bench .hero-content-image-second {
        display: none;
      }

      .hero-content-link {
        font-size: 1.2em;
      }

    /* -- Sidebar -- */
    .hero-item-icon {
      width: 1em;
    }

    /* -- Footer -- */
    .hero-footer-icon {
      width: 10px;
    }

    .hero-footer-link {
    font-size: 1.2em;
    }
  
}

@media (min-width: 1025px){
  /* -- HERO -- */
  .hero {
    padding: 3rem;
  }

    /* -- Background Image -- */
    #culture .hero-image {
      background-image: var(--image-section-culture-1025);
    }
    #spin_trowel .hero-image {
      background-image: var(--image-section-spin-trowel-1025);
    }
    #orbea_oiz .hero-image {
      background-image: var(--image-section-orbea-oiz-1025);
    }
    #onda_bench .hero-image {
      background-image: var(--image-section-onda-bench-1025);
    }

    /* -- Header -- */
    .hero-header-logo {
      width: 45px;
    }

    .hero-header-menu {
      width: 45px;
    }

    /* -- Content -- */
    .hero-content {
      padding-top: 8em;
    }

      .hero-content-image {
        margin-bottom: 1em;
        height: 16em;
      }
      #spin_trowel .hero-content-image {
        content: url(../svg/spin_trowel.svg);
      }
      #orbea_oiz .hero-content-image {
        content: url(../svg/orbea_oiz.svg);
      }
      #onda_bench .hero-content-image {
        content: url(../svg/onda_bench.svg);
      }
    
      #spin_trowel .hero-content-image-second,
      #orbea_oiz .hero-content-image-second,
      #onda_bench .hero-content-image-second {
        display: none;
      }

      .hero-content-link {
        font-size: 1.2em;
      }

    /* -- Sidebar -- */
    .hero-item-icon {
      width: 1em;
    }

    /* -- Footer -- */
    .hero-footer-link {
      font-size: 1.2em;
    }

    .hero-footer-icon {
      width: 10px;
    }
}

@media (min-width: 1281px){
  /* -- HERO -- */
  .hero {
    padding: 3rem;
  }

    /* -- Background Image -- */
    #culture .hero-image {
      background-image: var(--image-section-culture-1281);
    }
    #spin_trowel .hero-image {
      background-image: var(--image-section-spin-trowel-1281);
    }
    #orbea_oiz .hero-image {
      background-image: var(--image-section-orbea-oiz-1281);
    }
    #onda_bench .hero-image {
      background-image: var(--image-section-onda-bench-1281);
    }

    /* -- Header -- */
    .hero-header-logo {
      width: 45px;
    }

    .hero-header-menu {
      width: 45px;
    }

    /* -- Content -- */
    .hero-content {
      padding-top: 10em;
    }

      .hero-content-image {
        margin-bottom: 1em;
        height: 16em;
      }
      #spin_trowel .hero-content-image {
        content: url(../icon/spin_trowel.svg);
      }
      #orbea_oiz .hero-content-image {
        content: url(../icon/orbea_oiz.svg);
      }
      #onda_bench .hero-content-image {
        content: url(../icon/onda_bench.svg);
      }

      .hero-content-image-second {
        margin-bottom: 1em;
        height: 16em;
      }
      #spin_trowel .hero-content-image-second,
      #orbea_oiz .hero-content-image-second,
      #onda_bench .hero-content-image-second {
        display: none;
      }

      .hero-content-link {
        font-size: 1.2em;
      }

    /* -- Sidebar -- */
    .hero-item-icon {
      width: 1em;
    }

    /* -- Footer -- */
    .hero-footer-icon {
      width: 10px;
    }

    .hero-footer-link {
      font-size: 1.2em;
    }
}

@media (min-width: 1281px) and (min-aspect-ratio: 3/2) {
  /* -- HERO -- */
  .hero {
    padding: 3rem;
  }

    /* -- Background Image -- */
    #culture .hero-image {
      background-image: var(--image-section-culture-1281r);
    }
    #spin_trowel .hero-image {
      background-image: var(--image-section-spin-trowel-1281r);
    }
    #orbea_oiz .hero-image {
      background-image: var(--image-section-orbea-oiz-1281r);
    }
    #onda_bench .hero-image {
      background-image: var(--image-section-onda-bench-1281r);
    }

    /* -- Header -- */
    .hero-header-logo {
      width: 45px;
    }

    .hero-header-menu {
      width: 45px;
    }

    /* -- Content -- */
    .hero-content {
      padding-top: 10em;
    }

      .hero-content-image {
        margin-bottom: 1em;
        height: 18em;
      }
      #spin_trowel .hero-content-image {
        content: url(../svg/spin_trowel.svg);
      }
      #orbea_oiz .hero-content-image {
        content: url(../svg/orbea_oiz.svg);
      }
      #onda_bench .hero-content-image {
        content: url(../svg/onda_bench.svg);
      }

      .hero-content-image-second {
        margin-bottom: 1em;
        height: 18em;
      }
      #spin_trowel .hero-content-image-second,
      #orbea_oiz .hero-content-image-second,
      #onda_bench .hero-content-image-second {
        display: none;
      }

      .hero-content-link {
        font-size: 1.2em;
      }

    /* -- Sidebar -- */
    .hero-item-icon {
      width: 1em;
    }

    /* -- Footer -- */
    .hero-footer-icon {
      width: 10px;
    }

    .hero-footer-link {
      font-size: 1.2em;
    }
}