@import './general/layout.css';

/* --------------------------------- */
/* ------------- GENERAL ----------- */
/* --------------------------------- */

.container--carousel {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  min-height: inherit;
  height: 100%;
  padding: 3rem;
  position: relative;
}

/* --------------------------------- */
/* ------------- HEADER ------------ */
/* --------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

  .header__link--icon {
    text-decoration: none;
  }

    .header__logo {
      position: relative;
      z-index: 400;
      display: block;
      width: 45px;
    }
    .container--theme-black .header__logo {
      display: none;
    }
    .header__logo--dark {
      display: none;
    }
    .container--theme-black .header__logo--dark {
      display: block;
    }

  .header__button--icon{
    position: relative;
    z-index: 400;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

    .header__menu {
      display: block;
      width: 45px;
      transition: 200ms;
    }
    .header__menu:hover {
      transform: scale(0.9)
    }
    .container--theme-black .header__menu {
      display: none;
    }
    .header__menu--dark {
      display: none;
    }
    .container--theme-black .header__menu--dark {
      display: block;
    }

/* --------------------------------- */
/* ------------ CAROUSEL ----------- */
/* --------------------------------- */

.content {
  display: grid;
  grid-template-columns: 1fr auto;
}

  .carousel {
    display: flex;
  }

    .carousel__item {
      display: none;
    }
    .carousel__item--active {
      display: flex;
      width: 100%;
    }

    .hero:not(.carousel__item) {
      display: flex;
      width: 100%;
    }

      .hero__container {
        width: 100%;
        padding: 165px 0;
      }

        .hero__title {
          font-family: 'DaBronx Sans', sans-serif;
          color: white;
          text-transform: uppercase;
          font-size: 22rem;
          margin: 0;
          /* font transform properties */
          letter-spacing: 0.01em;
          transform: scaleY(1.07);
          line-height: 0.8;
          margin-left: -0.05em;
        }
        .carousel__item--theme-black .hero__title {
          color: #333333;
        }

        .hero__info {
          display: inline-block;
          position: relative;
          z-index: 400;
          color: white;
          font-size: 1.2em;
          font-weight: 100;
          text-decoration: none;
          margin-top: 1em;
          margin-bottom: 3em;
        }
        .carousel__item--theme-black .hero__info {
          color: #333333;
        }

      .hero__background-color {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
      }
      #culture .hero__background-color {
        background-color: var(--color-section-culture);
      }
      #track_planner .hero__background-color {
        background-color: var(--color-section-track-planner);
      }
      #spin_trowel .hero__background-color {
        background-color: var(--color-section-spin-trowel);
      }
      #orbea_oiz .hero__background-color {
        background-color: var(--color-section-orbea-oiz);
      }
      #onda_bench .hero__background-color {
        background-color: var(--color-section-onda-bench);
      }
      #xabidb .hero__background-color {
        background-color: var(--color-section-xabidb);
      }

      .hero__background-image {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        z-index: 300;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
      /* Images ubications */
      #culture .hero__background-image img {
        margin-right: -7%;
        max-width: 76%;
        max-height: 80%;
      }
      #spin_trowel .hero__background-image img {
        margin-right: -12%;
        max-width: 85%;
        max-height: 80%;
      }
      #orbea_oiz .hero__background-image img {
        margin-right: 0%;
        max-width: 75%;
        max-height: 95%;
      }
      #onda_bench .hero__background-image img {
        margin-right: -5%;
        max-width: 90%;
        max-height: 100%;
      }
      #xabidb .hero__background-image img {
        /* PND */
      }

/* --------------------------------- */
/* ------------- SIDEBAR ----------- */
/* --------------------------------- */

.sidebar {
  display: grid;
  align-content: center;
  justify-content: flex-end;
  row-gap: 16px;
  z-index: 300;
}

  .sidebar__item {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

    .sidebar__icon {
      display: block;
      width: 1em;
      opacity: 0.6;
      transition: 200ms;
    }
    .sidebar__icon:hover {
      opacity: 0.8;
    }
    .sidebar__item--active .sidebar__icon {
      opacity: 1;
      transform: scale(1.25) rotate(45deg);
    }
    .container--theme-black .sidebar__icon {
      display: none;
    }
    .sidebar__icon--dark {
      display: none;
    }
    .container--theme-black .sidebar__icon--dark {
      display: block;
    }

/* --------------------------------- */
/* ------------- FOOTER ------------ */
/* --------------------------------- */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  padding-top: 0;
}

  .footer__button {
    grid-column: 2;
    justify-self: center;
    display: block;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 300;
  }

    .footer__icon-arrow {
      display: block;
      width: 0.6em;
    }
    .container--theme-black .footer__icon-arrow {
      display: none;
    }
    .footer__icon-arrow--dark {
      display: none;
    }
    .container--theme-black .footer__icon-arrow--dark {
      display: block;
    }

  .footer__link {
    z-index: 300;
    grid-column: 3;
    justify-self: flex-end;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
    text-decoration: none;
  }
  .container--theme-black .footer__link {
    color: #333333;
  }

/* --------------------------------- */
/* --------- MEDIA QUERIES --------- */
/* --------------------------------- */

@media (max-width: 1800px) {
  .hero__background-image {
    overflow: hidden;
  }
}

@media (max-width: 1280px) {
  .hero__container {
    padding: 132px 0;
  }

    .hero__title {
      font-size: 20rem;
    }

    #culture .hero__background-image img {
      margin-right: -7%; /* defecto */
      max-width: 80%;
      max-height: 70%;
    }
    #spin_trowel .hero__background-image img {
      margin-right: -12%; /* defecto */
      max-width: 90%;
      max-height: 70%;
    }
    #orbea_oiz .hero__background-image img {
      margin-right: 3%;
      max-width: 75%;
      max-height: 95%; /* defecto */
    }
    #onda_bench .hero__background-image img {
      margin-right: -2%;
      max-width: 80%;
      max-height: 100%; /* defecto */
    }
}

@media (max-width: 1024px) {
  .sidebar {
    row-gap: 18px;
  }

    .sidebar__icon {
      width: 1.2em;
    }

  .hero__container {
    padding: 164px 0;
  }

    .hero__title {
      font-size: 18rem;
    }

    .hero__info {
      font-size: 1.4em;
    }

    #culture .hero__background-image img {
      margin-right: -10%;
      max-width: 64%;
    }
    #spin_trowel .hero__background-image img {
      margin-right: -55%;
      max-width: 140%;
    }
    #orbea_oiz .hero__background-image img {
      margin-right: -12%;
      max-width: 120%;
      max-height: 75%;
    }
    #onda_bench .hero__background-image img {
      margin-right: -27%;
      max-width: 138%;
      max-height: 60%;
    }

  .footer__icon-arrow {
    width: 0.8em;
  }
}

@media (max-width: 1024px) and (min-width: 801px) and (min-aspect-ratio: 3/2) {
  .sidebar__icon {
    width: 1em;
  }

  .hero__container {
    padding: 100px 0;
  }

    .hero__title {
      font-size: 15rem;
    }

    .hero__info {
      font-size: 1.2em;
      margin-bottom: 2em;
    }

    #culture .hero__background-image img {
      max-width: 87%;
    }
    #spin_trowel .hero__background-image img {
      margin-right: -12%;
      max-width: 90%;
    }
    #orbea_oiz .hero__background-image img {
      margin-right: -1%;
      max-width: 80%;
      max-height: 85%;
    }
    #onda_bench .hero__background-image img {
      margin-right: -8%;
      max-width: 95%;
      max-height: 70%;
    }

  .footer__icon-arrow {
    width: 0.6em;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 2rem;
  }

    .sidebar__icon {
      width: 1.2em;
    }

    .hero__container {
      padding: 134px 0;
    }

      .hero__title {
        font-size: 17rem;
      }

      .hero__info {
        font-size: 1.4em;
        margin-top: 0.7em;
      }

      #culture .hero__background-image img {
        margin-right: -7%;
        max-height: 60%;
      }
      #orbea_oiz .hero__background-image img {
        margin-right: -21%;
        max-width: 140%;
      }
      #onda_bench .hero__background-image img {
        margin-right: -22%;
      }

    .footer__icon-arrow {
      width: 0.8em;
    }
}

@media (max-width: 730px) {
  .hero__title {
    font-size: 14.5rem;
  }
}

@media (max-width: 800px) and (min-width: 641px) and (min-aspect-ratio: 3/2) {
  .header__logo,
  .header__menu {
    width: 35px;
  }

  .sidebar__icon {
    width: 1em;
  }

  .hero__container {
    padding: 64px 0;
  }

    .hero__title {
      font-size: 11rem;
    }

    .hero__info {
      font-size: 1.2em;
      margin-top: 0.6em;
      margin-bottom: 0;
    }

    #culture .hero__background-image img {
      margin-right: 0;
      max-height: 85%;
    }
    #spin_trowel .hero__background-image img {
      margin-right: -30%;
    }
    #orbea_oiz .hero__background-image img {
      margin-right: -10%;
      max-height: 85%;
    }
    #onda_bench .hero__background-image img {
      margin-right: -12%;
    }

  .footer__icon-arrow {
    width: 0.6em;
  }
}

@media (max-width: 640px) {
  .sidebar__icon {
    width: 1em;
  }

  .hero__container {
    padding: 68px 0;
  }

    .hero__title {
      font-size: 12rem;
    }

    .hero__info {
      font-size: 1.2em;
      margin-top: 1em;
    }

    #culture .hero__background-image img {
      margin-right: -10%;
      max-width: 70%;
      max-height: 75%;
    }
    #spin_trowel .hero__background-image img {
      max-height: 65%;
    }

  .footer__icon-arrow {
    width: 0.6em;
  }
}

@media (max-width: 640px) and (min-width: 426px) and (min-aspect-ratio: 3/2) {
  .header__logo,
  .header__menu {
    width: 35px;
  }

  .hero__title {
    font-size: 10rem;
  }

  .hero__info {
    margin-bottom: 0;
  }

  #culture .hero__background-image img {
    margin-right: 0;
    max-height: 75%;
  }
  #spin_trowel .hero__background-image img {
    margin-right: -30%;
  }
  #orbea_oiz .hero__background-image img {
    margin-right: -10%;
    max-height: 85%;
  }
  #onda_bench .hero__background-image img {
    margin-right: -12%;
  }
}

@media (max-width: 550px){
  .hero__title {
    font-size: 10rem;
  }
}

@media (max-width: 470px){
  .hero__title {
    font-size: 9rem;
  }
}

@media (max-width: 425px){
  .header__logo,
  .header__menu {
    width: 35px;
  }

  .sidebar__icon {
    width: 0.9em;
  }

  .hero__title {
    font-size: 8rem;
  }

  .hero__info {
    font-size: 1em;
  }

  #culture .hero__background-image img {
    margin-right: -12%;
    max-width: 90%;
  }
  #spin_trowel .hero__background-image img {
    max-width: 155%;
  }
  #orbea_oiz .hero__background-image img {
    max-height: 65%;
  }
  #onda_bench .hero__background-image img {
    max-width: 130%;
  }

  .footer__link {
    font-size: 1em;
  }

  .footer__icon-arrow {
    width: 0.5em;
  }
}

@media (max-width: 375px){
  .hero__title {
    font-size: 7rem;
  }
}

@media (max-width: 340px){
  .hero__title {
    font-size: 6.5rem;
  }
}