@import './index.css';

/* --------------------------------- */
/* ----------- GENERALES ----------- */
/* --------------------------------- */

section {
  height: inherit;
  width: inherit;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
}

p {
  text-align: justify;
  line-height: 1.2;
  color: dimgrey;
}

/* --------------------------------- */
/* ------------- TRENDS ------------ */
/* --------------------------------- */

#trends {
  height: auto;
  display: flex;
}

  .trends-content {
      padding-top: 2em;
      width: 100%;
  }

    .trends-content-icon {
        width: 5em;
        padding: 1em 0 em 0;
        display: block;
        margin: auto;
    }

    .trends-content-title {
        text-align: center;
        margin-bottom: 0.5rem;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .trends-content-text {
        padding: 0 1em 3em 1em;
        margin: 0;
    }

/* --------------------------------- */
/* ------------- SKETCH ------------ */
/* --------------------------------- */

#sketch {
  height: auto;
  display: flex;
}

  .sketch-content {
      width: 100%;
  }

  .sketch-content-image {
      width: 100%;
      padding-bottom: 5em;
  }

/* --------------------------------- */
/* ----------- ASSORTMENT ---------- */
/* --------------------------------- */

#assortment {
  height: auto;
  display: flex;
}

  .assortment-content {
      width: 100%;
  }

    .assortment-content-morocco {
        width: 100%;
        padding-bottom: 4em;
    }
    .assortment-content-mexico {
        width: 100%;
        padding-bottom: 4em;
    }
    .assortment-content-india {
        width: 100%;
        padding-bottom: 4em;
    }
    .assortment-content-float {
        width: 100%;
        padding-bottom: 4em;
    }
    .assortment-content-text {
        padding: 0 1em 4em 1em;
        margin: 0;
    }

/* --------------------------------- */
/* -------------- USE -------------- */
/* --------------------------------- */

#use {
  height: auto;
  display: flex;
}

  .use-content {
    width: 100%;
    padding: 0em 2em 0em 2em;
  }

    .use-content-icon {
      width: 100%;
      display: block;
      margin: auto;
      padding: 1em 0em 4em 0em;
    }

/* --------------------------------- */
/* ------------ RENDERS ------------ */
/* --------------------------------- */

#renders {
  height: auto;
  display: flex;
}

  .renders-content {
    width: 100%;
  }

    .renders-content-image {
      width: 100%;
      padding-bottom: 2em;
    }

/* --------------------------------- */
/* --------- MEDIA QUERIES --------- */
/* --------------------------------- */

@media (min-width: 600px){
  /* -- TRENDS -- */
  .trends-content {
    padding-top: 8em;
    padding-bottom: 8em;
    width: 100%;
  }

  .trends-content-text {
    padding: 0 10em 3em 10em;
    margin: 0;
  }

  /* -- SKETCH -- */
  .sketch-content {
    padding-left: 6em;
    padding-right: 6em;
  }

  /* -- ASSORTMENT -- */
  .assortment-content {
    padding-left: 6em;
    padding-right: 6em;
  }

  .assortment-content-text {
    padding: 0 4em 4em 4em;
    margin: 0;
  }

  /* -- USE -- */
  .use-content {
    width: 100%;
    padding: 0em 10em 0em 10em;
  }

  /* -- RENDERS -- */
  .renders-content {
    padding-left: 6em;
    padding-right: 6em;
  }
}

@media (min-width: 801px) and (orientation: portrait){
  /* --- MAIN --- */
  section{
    padding: 3rem;
  }

  /* -- TRENDS -- */
  .trends-content {
    padding-top: 8em;
    padding-bottom: 8em;
    width: 100%;
  }

  .trends-content-icon {
    width: 6em;
    padding: 1em 0 1em 0;
  }

  .trends-content-text {
    padding: 0 16em 6em 16em;
    margin: 0;
  }

  /* -- SKETCH -- */
  .sketch-content {
    padding-left: 10em;
    padding-right: 10em;
  }

  /* -- ASSORTMENT -- */
  .assortment-content {
    padding-left: 10em;
    padding-right: 10em;
  }

  .assortment-content-text {
    padding: 0 8em 4em 8em;
    margin: 0;
  }

  /* -- USE -- */
  .use-content {
    width: 100%;
    padding: 0em 16em 0em 16em;
  }

  /* -- RENDERS -- */
  .renders-content {
    padding-left: 8em;
    padding-right: 8em;
  }
}

@media (min-width: 801px) and (orientation: landscape){
  /* --- MAIN --- */
  section {
    padding: 3rem;
  }

  /* -- TRENDS -- */
  .trends-content {
    padding-top: 10em;
    padding-bottom: 10em;
    width: 100%;
  }

  .trends-box-one {
    width: 33%;
    float: left;
    padding-top: 1.75em;
  }

  .trends-box-two {
    width: 33%;
    display: inline-block;
  }

  .trends-box-three {
    width: 33%;
    float: right;
    padding-top: 1.75em;
  }
  
  .trends-content-icon {
    width: 6em;
    padding: 1em 0 1em 0;
  }
  
  .trends-content-text {
    padding: 0 2em 3em 2em;
    margin: 0;
  }
  
  /* -- SKETCH -- */
  .sketch-content {
    padding-left: 8em;
    padding-right: 8em;
  }

  /* -- ASSORTMENT -- */
  .assortment-content {
    padding-left: 8em;
    padding-right: 8em;
  }

  .assortment-content-text {
    padding: 0 8em 4em 8em;
    margin: 0;
  }

  /* -- USE -- */
  .use-content {
    width: 100%;
    padding: 0em 6em 0em 6em;
  }

  .use-box-one {
    width: 20%;
    float: left;
    padding-top: 6em;
  }

  .use-box-two {
    width: 60%;
    display: inline-block;
  }

  .use-box-three {
    width: 20%;
    float: right;
    padding-top: 6em;
  }

  .use-content-icon {
    width: 100%;
    display: block;
    margin: auto;
    padding: 1em 0em 4em 0em;
  }

  /* -- RENDERS -- */
  .renders-content {
    padding-left: 8em;
    padding-right: 8em;
  }
}

@media (min-width: 1025px){
  /* --- MAIN --- */
  section{
    padding: 3rem;
  }

  /* -- TRENDS -- */
  .trends-content {
    padding-top: 18em;
    padding-bottom: 18em;
    width: 100%;
  }

  .trends-box-one {
    width: 33%;
    float: left;
    padding-top: 1.75em;
  }

  .trends-box-two {
    width: 33%;
    display: inline-block;
  }

  .trends-box-three {
    width: 33%;
    float: right;
    padding-top: 1.75em;
  }
  
  .trends-content-icon {
    width: 7em;
    padding: 1em 0 1em 0;
  }
  
  .trends-content-text {
    padding: 0 2em 3em 2em;
    margin: 0;
  }
  
  /* -- SKETCH -- */
  .sketch-content {
    padding-left: 12em;
    padding-right: 12em;
  }
}
  
@media (min-width: 1281px){
  /* --- MAIN --- */
  section{
    padding: 3rem;
  }

  /* -- TRENDS -- */
  .trends-content {
    padding-top: 18em;
    padding-bottom: 18em;
    width: 100%;
  }

  .trends-box-one {
    width: 33%;
    float: left;
    padding-top: 1.75em;
  }

  .trends-box-two {
    width: 33%;
    display: inline-block;
  }

  .trends-box-three {
    width: 33%;
    float: right;
    padding-top: 1.75em;
  }

  .trends-content-icon {
    width: 7em;
    padding: 1em 0 1em 0;
  }

  .trends-content-text {
    padding: 0 2em 3em 2em;
    margin: 0;
  }

  /* -- SKETCH -- */
  .sketch-content {
    padding-left: 14em;
    padding-right: 14em;
  }

  /* -- ASSORTMENT -- */
  .assortment-content {
    padding-left: 14em;
    padding-right: 14em;
  }

  .assortment-content-text {
    padding: 0 14em 4em 14em;
    margin: 0;
  }

  /* -- USE -- */
  .use-content {
    width: 100%;
    padding: 0em 12em 0em 12em;
  }

  .use-box-one {
    width: 20%;
    float: left;
    padding-top: 8em;
  }

  .use-box-two {
    width: 60%;
    display: inline-block;
  }

  .use-box-three {
    width: 20%;
    float: right;
    padding-top: 8em;
  }

  .use-content-icon {
    width: 100%;
    display: block;
    margin: auto;
    padding: 1em 0em 4em 0em;
  }

  /* -- RENDERS -- */
  .renders-content {
    padding-left: 14em;
    padding-right: 14em;
  }
}

@media (min-width: 1281px) and (min-aspect-ratio: 3/2) {
  /* --- MAIN --- */
  section{
    padding: 3rem;
  }

  /* -- TRENDS -- */
  .trends-content {
    padding-top: 18em;
    padding-bottom: 18em;
    width: 100%;
  }

  .trends-box-one {
    width: 33%;
    float: left;
    padding-top: 1.75em;
  }

  .trends-box-two {
    width: 33%;
    display: inline-block;
  }

  .trends-box-three {
    width: 33%;
    float: right;
    padding-top: 1.75em;
  }

  .trends-content-icon {
    width: 7em;
    padding: 1em 0 1em 0;
  }

  .trends-content-text {
    padding: 0 6em 3em 6em;
    margin: 0;
  }

  /* -- SKETCH -- */
  .sketch-content {
    padding-left: 14em;
    padding-right: 14em;
  }

  /* -- ASSORTMENT -- */
  .assortment-content {
    padding-left: 14em;
    padding-right: 14em;
  }

  .assortment-content-text {
    padding: 0 24em 4em 24em;
    margin: 0;
  }

  /* -- USE -- */
  .use-content {
    width: 100%;
    padding: 0em 14em 0em 14em;
  }

  .use-box-one {
    width: 20%;
    float: left;
    padding-top: 12em;
  }

  .use-box-two {
    width: 60%;
    display: inline-block;
  }

  .use-box-three {
    width: 20%;
    float: right;
    padding-top: 12em;
  }

  .use-content-icon {
    width: 100%;
    display: block;
    margin: auto;
    padding: 1em 0em 4em 0em;
  }

  /* -- RENDERS -- */
  .renders-content {
    padding-left: 14em;
    padding-right: 14em;
  }
}