@import './index.css';

/* ----------------- *\
\* --- GENERALES --- */

body {
  width: 100%;
  overflow-x: hidden;
}

p {
    font-size: 0.97rem;
    text-align: justify;
    line-height: 1.2;
}
p.hero-footer-text {
    font-size: 11.2px;
}

.arrows {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-template-areas: "down down" "left right" "up up";
    align-items: center;
}

    .arrows * {
        transition: 200ms;
        cursor: pointer;
    }
    .arrows *:hover {
        transform: scale(0.95)
    }

    .arrows .up {
        grid-area: up;
        align-self: flex-end;

        width: 130px !important;
        margin: 0 auto;
    }

    .arrows .left {
        grid-area: left;
        justify-self: flex-start;

        height: 130px;
        width: auto !important;
        margin-bottom: 3.44rem;
    }

    .arrows .right {
        grid-area: right;
        justify-self: flex-end;
        
        height: 130px;
        width: auto !important;
        margin-bottom: 3.44rem;
    }

        .arrows img {
            width: inherit;
            height: inherit;
        }

/* ----------------- *\
\* ----- HERO ------ */

#main {
    padding: 7.5rem 0;
    height: auto;

    display: flex;
    flex-direction: column;
}

    .main-description {
        padding: 0 9.37rem 7.5rem;
        padding-top: 0;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5rem;
    }

        .main-description-card {
            display: flex;
        }

            .main-card-title {
                margin: 0;
                margin-right: 3.75rem;

                color: var(--color-gray);
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.1rem;
            }

            .main-card-text {
                margin: 0;
            }

    .main-images {
        padding: 0 6.87rem;

        display: grid;
        grid-template: minmax(auto, 270px) minmax(auto, 195px) / 1fr 1.5fr 0.8fr 0.8fr 0.6fr;
        grid-gap: 1.87rem;
    }

        .main-images-item {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
        .main-images-item.row-2 {
            grid-row: 2 span;
        }
        .main-images-item.col-4 {
            grid-column: 4 span;
        }

/* ----------------- *\
\* --- LOGOTYPE ---- */

#logotype {
    height: auto;
    padding: 10.62rem 14.1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

  .culture{
    background-color: var(--color-section-culture);
  }
  .track_planner {
    background-color: var(--color-section-track-planner);
  }
  .spin_trowel {
    background-color: var(--color-section-spin-trowel);
  }
  .oiz_it {
    background-color: var(--color-section-oiz-it);
  }
  .onda {
    background-color: var(--color-section-onda);
  }
  .xabidb {
    background-color: var(--color-section-xabidb);
  }

    .logotype-content-description {
        color: var(--color-white);
        font-weight: 300;

        align-self: center;
        padding-bottom: 0.5rem;
    }

    .logotype-content-image {
        height: 9.37rem;
        margin-left: 1.87rem; 
        vertical-align: top;

        justify-self: center;
        align-self: center;
    }

/* ----------------- *\
\* - PICTURES 1,2 -- */

#picture_1 {
    height: auto;
    padding: 3.75rem;

    display: block;
}

    #picture_1 img {
        width: 100%;
        object-fit: cover;
    }

#picture_2 {
    height: 0;
    padding: 0;
    padding-bottom: calc(100% / 1.6);

    display: block;
    position: relative;
}

    #picture_2 img {
        width: 100%;
        object-fit: cover;
        margin-top: 1.87rem;

        position: relative;
        z-index: 200;
    }

/* ----------------- *\
\* ---- DETAILS ---- */

#details {
    height: auto;
    padding: 15% 6.87rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5rem;
}

/* ------------------ *\
\* - PICTURES 3,4,5 - */

#picture_3, 
#picture_4,
#picture_5 {
    height: auto;
    padding: 6.87rem;
    padding-top: 0;
    display: block;

    position: relative;
}

    #picture_3 .picture-image, 
    #picture_4 .picture-image,
    #picture_5 .picture-image {
        width: 100%;
    }

/* --------------------------------- */
/* --------- MEDIA QUERIES --------- */
/* --------------------------------- */

  @media (max-width: 768px) {
  /* ----------------- *\
  \* --- GENERALES --- */

  .arrows .up {
    width: 90px !important;
  }

  .arrows .left,
  .arrows .right {
    height: 90px;
    margin-bottom: 1.7rem;
  }

  /* ----------------- *\
  \* ----- HERO ------ */

  #main {
    padding: 5.75rem 0;
  }

    .main-description {
      padding: 0 4.68rem 3.75rem;
      grid-column-gap: 4rem;
    }

      .main-card-title {
        margin-right: 1.9rem;
      }

      .main-images {
        padding: 0 3.4rem;
        grid-gap: 0.93rem;
      }

  /* ----------------- *\
  \* --- LOGOTYPE ---- */

  #logotype {
    padding: 9rem 7.05rem;
  }

  /* ----------------- *\
  \* ---- DETAILS ---- */

  #details {
    padding: 15% 3.4rem;
    grid-column-gap: 2.5rem;
  }

  /* ------------------ *\
  \* - PICTURES 3,4,5 - */

  #picture_3, 
  #picture_4,
  #picture_5 {
    padding: 3.4rem;
    padding-top: 0;
  }
}

@media (max-width: 425px) {
  /* ----------------- *\
  \* --- GENERALES --- */

  .hero-footer {
    margin-bottom: 25px;
  }

  p {
    font-size: 2.2rem;
  }
  p.hero-footer-text {
    font-size: 9.6px;
  }

  .arrows .left,
  .arrows .right {
    margin-bottom: 42px;
  }

  /* ----------------- *\
  \* ----- HERO ------ */

  #main {
    padding: 150px 0;
  }

    .main-description {
      grid-template: auto auto / 1fr;
      padding: 0 0.1rem 150px;
      grid-row-gap: 25px;
    }

      .main-card-title {
        display: none
      }

    .main-images {
      padding: 0 8px;
      grid-template: minmax(auto, 110px) minmax(auto, 158px) minmax(auto, 245px) minmax(auto, 66px) / 1fr 1fr 1fr; 
      grid-column-gap: 10px;
      grid-row-gap: 18px;
    }

      .main-images-item.col-2-xs {
        grid-column: 2 span;
        grid-row-start: 3;
      }
      .main-images-item.col-2-xs-second {
        grid-column: 2 span;
        grid-row-start: 1;
      }
      .main-images-item.col-3-xs {
        grid-column: 3 span;
        grid-row-start: 4;
      }
      .main-images-item.row-4-xs {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
      }

  /* ----------------- *\
  \* --- LOGOTYPE ---- */

  #logotype {
    padding: 150px 0;
    grid-template-columns: 1fr;
  }

    .logotype-content-description {
      padding: 0 0.1rem;
    }

    .logotype-content-image {
      grid-row-start: 1;
      margin-left: 0; 
      
      width: calc(100% - 30px);
      height: auto;
      vertical-align: top;


      justify-self: center;
      align-self: center;
    }

  /* ----------------- *\
  \* - PICTURES 1,2 -- */

  #picture_1 {
    height: auto;
    padding: 150px 8px;

    display: block;
  }
  
    #picture_1 img {
      content: url('../assets/img/culture/culture-image-mobile-1.png');
    }
  
  #picture_2 {
    height: auto;
    padding: 150px 8px;
  }
  
    #picture_2 img {
      margin: 0;
      content: url('../assets/img/culture/culture-image-mobile-2.png');
    }

  /* ----------------- *\
  \* ---- DETAILS ---- */

  #details {
    padding: 150px 0.1rem;

    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

    .details-card {
      margin: 0;
    }

  /* ------------------ *\
  \* - PICTURES 3,4,5 - */

  #picture_3, 
  #picture_4,
  #picture_5 {
    padding: 85px 8px;
    padding-top: 0;
  }
  #picture_5 {
    padding-bottom: 8px;
  }

    #picture_3 .picture-image {
      content: url('../assets/img/culture/culture-image-mobile-3.png');
    }
    #picture_4 .picture-image {
      content: url('../assets/img/culture/culture-image-mobile-4.png');
    }
    #picture_5 .picture-image {
      content: url('../assets/img/culture/culture-image-mobile-5.png');
    }
}